@mixin header-link-style($width) {
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	font-size: 60px;
	font-family: 'Montserrat', sans-serif;
 	font-weight: 100;
 	// width: $width;
 	width: fit-content;
 	white-space: nowrap;
  	transition: color .4s ease-out;
}

 @mixin bg-effect($scale, $x-origin, $y-origin) {
	background-color: black;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute; 
  	transform: scaleX($scale);
  	transition: transform .4s linear;
  	transform-origin: $x-origin $y-origin;
}

@mixin content-link($right) {
	z-index: 1;
	position: absolute;
	top: 45%;
	width: auto;
	right: $right;
	margin-right: -30px;
	margin-left: auto;
	left: auto;
}

.featured-page {
	width: 100%;
	height: 615px;
	position: relative;
}

.featured-home-link {
	position: absolute;
	top: 40px;
	left: 40px;
	color: black;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
 	font-weight: 100;

}

.featured-title-container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	text-align: center;
	vertical-align: middle;
	.featured-title {
		// position: absolute;
		// top: 35%;
		// left: 40%;
		display: table-cell;
		vertical-align: middle;
		color: black;
		font-size: 120px;
		font-family: 'Montserrat', sans-serif;
	 	font-weight: 100;
	}
}

.top-featured-img-banner {
	height: 100%;
	width: 100%;
	background: #c6d5e6;
}

.scroll-img-ele {
	position: relative;
	transform: translate(0px, 100px);
	opacity: 0;
	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
		transition: all 1s ease-in;
	}
}

.item {
	margin-bottom: 52px;
	padding-left: 26px;
	padding-right: 26px;
}

.item-left {
	margin-bottom: 52px;
	padding-left: 26px;
	padding-right: 26px;
	margin-left: 50%;
}

.featured-text-background{
	background-color: white;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
  	.text-background-effect {
  		@include bg-effect(0, 0, 50%);
  	}
  	.text-background-effect-right {
  		@include bg-effect(0, 100%, 50%);
  	}
}

.featured-container {
	padding-top: 95px;
    padding-bottom: 113px;
	img {
		height: auto;
		width: 100%;
		object-fit: cover;
	}
}

.image-info-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	.image-info {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		opacity: 0;
		transition: .3s all linear;
	  	clip-path: inset(10px 10px 10px 10px);
	}
	&:hover .image-info{
		cursor: pointer;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
		background-color: white;
		opacity: .8;
		transition: .3s all linear;
	  	clip-path: inset(10px 10px 10px 10px);
	}
	&:hover h4 {
		bottom: 50px;
	}
	h4 {
		position: absolute;
		bottom: 20px;
		left: 30px;
		transition: .3s all linear;
		font-weight: bold;
	}
	p {
		position: absolute;
		bottom: 20px;
		left: 30px;
		font-weight: 50;
	}
}

.herbal-link {
	@include content-link(16%);
	.herbal-header {
		clip-path: inset(0% 0% 0% 100%);
		@include header-link-style(440px);
  		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.herbal-header:hover .text-background-effect{
	@include bg-effect(1, 100%, 50%);
}

.downy-link {
	@include content-link(143%);
	.downy-header {
		clip-path: inset(0% 100% 0% 0%);
		@include header-link-style(415px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.downy-header:hover .text-background-effect-right{
	@include bg-effect(1, 0, 50%);
}

.jc-penney-link {
	@include content-link(14%);
	.jc-penney-header {
		clip-path: inset(0% 0% 0% 100%);
		@include header-link-style(380px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.jc-penney-header:hover .text-background-effect{
	@include bg-effect(1, 100%, 50%);
}

.chanel-link {
	@include content-link(145%);
	.chanel-header {
		clip-path: inset(0% 100% 0% 0%);
		@include header-link-style(195px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.chanel-header:hover .text-background-effect-right{
	@include bg-effect(1, 0, 50%);
}

.missoni-link {
	@include content-link(17%);
	.missoni-header {
		clip-path: inset(0% 0% 0% 100%);
		@include header-link-style(450px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.missoni-header:hover .text-background-effect{
	@include bg-effect(1, 100%, 50%);
}

.downy-memorable-day-link {
	@include content-link(143%);
	.downy-memorable-day-header {
		clip-path: inset(0% 100% 0% 0%);
		@include header-link-style(245px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.downy-memorable-day-header:hover .text-background-effect-right{
	@include bg-effect(1, 0, 50%);
}

.winners-link {
	@include content-link(17%);
	.winners-header {
		clip-path: inset(0% 0% 0% 100%);
		@include header-link-style(380px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.winners-header:hover .text-background-effect{
	@include bg-effect(1, 100%, 50%);
}

.hersheys-link {
	@include content-link(159%);
	.hersheys-header {
		clip-path: inset(0% 100% 0% 0%);
		@include header-link-style(270px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.hersheys-header:hover .text-background-effect-right{
	@include bg-effect(1, 0, 50%);
}

.garnier-link {
	@include content-link(15%);
	.garnier-header {
		clip-path: inset(0% 0% 0% 100%);
		@include header-link-style(440px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.garnier-header:hover .text-background-effect{
	@include bg-effect(1, 100%, 50%);
}

.legacy-link {
	@include content-link(141%);
	.legacy-header {
		clip-path: inset(0% 100% 0% 0%);
		@include header-link-style(245px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.legacy-header:hover .text-background-effect-right{
	@include bg-effect(1, 0, 50%);
}

.zales-link {
	@include content-link(15%);
	.zales-header {
		clip-path: inset(0% 0% 0% 100%);
		@include header-link-style(440px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.zales-header:hover .text-background-effect{
	@include bg-effect(1, 100%, 50%);
}

.coppertone-link {
	@include content-link(174%);
	.coppertone-header {
		clip-path: inset(0% 100% 0% 0%);
		@include header-link-style(245px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.coppertone-header:hover .text-background-effect-right{
	@include bg-effect(1, 0, 50%);
}

.olay-crush-link {
	@include content-link(16%);
	.olay-crush-header {
		clip-path: inset(0% 0% 0% 100%);
		@include header-link-style(440px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.olay-crush-header:hover .text-background-effect{
	@include bg-effect(1, 100%, 50%);
}

.olay-noir-link {
	@include content-link(157%);
	.olay-noir-header {
		clip-path: inset(0% 100% 0% 0%);
		@include header-link-style(245px);
		&:hover {
			color: white;
			cursor: pointer;
		}
		&.active{
			clip-path: inset(0% 0% 0% 0%);
			transition: clip-path 1s ease-in, color .4s ease-out;
		}
	}
}

.olay-noir-header:hover .text-background-effect-right{
	@include bg-effect(1, 0, 50%);
}